APP_NAME=wisemudra
APP_ENV=local
APP_KEY=base64:OLAzvqdDxxP0Y+xiHGWocv0yhEx+TTSQTKwV3DfXjDE=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wisemudra
DB_USERNAME=root
DB_PASSWORD=
DB_LOG= true

BROADCAST_DRIVER=log
CACHE_DRIVER=database
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=#
MAIL_PORT=465
MAIL_USERNAME=#
MAIL_PASSWORD=#
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=#
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#Company details
WEBSITE = '#'
COMPANY_NAME = '#'
COMPANY_ADDRESS = '#'
COMPANY_MOBILE = '+91'
COMPANY_INFO_MAIL = ''
COMPANY_SUPPORT_MAIL = ''
SM_TWITTER = '#'
SM_PINTEREST = '#'
SM_YOUTUBE = '#'
SM_INSTAGRAM = '#'
SM_FACEBOOK = '#'
SM_LINKEDIN = '#'
INFO_EMAIL = '#'
CIN_NO = #
GST_NO = #
EXPIRY_DATE = 3
CU_PAYOUT_RATIO = 0.60
SUBSCRIPTION_EXPIRY="+1 months"
SELFAPPLY_PLAN_VALIDITY='+1 months'
HIREAGENT_PLAN_VALIDITY = "+1 months"
IS_SHOWN=false

SECURE_SALT=verloopweb

#Offers
LA_OFFER_1='la-offer-1'
LA_OFFER_2='la-offer-2'
LA_OFFER_3='la-offer-3'
LA_OFFER_4='la-offer-4'
LA_OFFER_5='la-offer-5'
LA_OFFER_6='la-offer-6'
SA_OFFER_1='sa-offer-1'
SA_OFFER_2='sa-offer-2'
SA_OFFER_3='sa-offer-3'
SA_OFFER_4='sa-offer-4'
SA_OFFER_5='sa-offer-5'
SA_OFFER_6='sa-offer-6'
SA_OFFER_7='sa-offer-7'

# SA SMS Key OnlineBusinessBazar
SMS_OBB_USERNAME=#
SMS_OBB_PASSWORD=#
SMS_OBB_SENDER_ID=#

# LA SMS Key OnlineBusinessBazar
SMS_OBB_LA_USERNAME=#
SMS_OBB_LA_PASSWORD=#
SMS_OBB_LA_SENDER_ID=#

GEOLOC_KEY="#"

#UAT test mobile numbers
UAT_MOBILE_NUMBERS=9904466599,9408881214
STATIC_NO=9904466599,9408881214

#Razorpay payment gateway
RAZOR_KEY_ID=#
RAZOR_KEY_SECRET=#

#Phonepe payment gateway
PHONEPE_MERCHANT_ID=#
PHONEPE_MERCHANT_USER_ID=#
PHONEPE_ENV=#
PHONEPE_SALT_KEY=#
PHONEPE_SALT_INDEX=1

#Airpay payment gateway
AIRPAY_MERCHENT_ID="#"
AIRPAY_USERNAME="#"
AIRPAY_PASSWORD="#"
AIRPAY_API_KEY="#"

#Layra payment gateway
LYRA_MODE=PROD
LYRA_SHOP_ID=#
LYRA_LCID=#
LYRA_MCC=#
LYRA_API_KEY=#

# LYRA_MODE=TEST
# LYRA_SHOP_ID=#
# LYRA_LCID=#
# LYRA_MCC=#
# LYRA_API_KEY=#

#Subpaisa payment gateway
SABPAISA_MODE=PROD
SABPAISA_CLIENT_CODE=#
SABPAISA_USERNAME='#'
SABPAISA_PASSWORD='#'
SABPAISA_AUTH_KEY='#'
SABPAISA_AUTH_IV='#'

# SABPAISA_MODE=TEST
# SABPAISA_CLIENT_CODE=#
# SABPAISA_USERNAME='#'
# SABPAISA_PASSWORD='#'
# SABPAISA_AUTH_KEY='#'
# SABPAISA_AUTH_IV='#'

#Zaakpay payment gateway
ZAAKPAY_ENV=TEST
ZAAKPAY_MERCHANT_IDENTIFIER = #
ZAAKPAY_SECRET_KEY =#
ZAAKPAY_API_KEY = #

# ZAAKPAY_ENV=PRODUCTION
# ZAAKPAY_MERCHANT_IDENTIFIER = #
# ZAAKPAY_SECRET_KEY = #
# ZAAKPAY_API_KEY = #

#Cashfree payment gateway
CASHFREE_APP_ID=#
CASHFREE_SECRET_KEY=#
CASHFREE_MODE=PROD

#PAYGIC Credentials
PAYGIC_PAYMENT_MODE=LIVE
PAYGIC_MERCHANT_ID=#
PAYGIC_PASSWORD='#'

#Brevo Bulk Email
BREVO_API_KEY=#

#Interakt whatsapp message
SELF_INTERAKT_KEY=#
SELF_INTERAKT_KEY_OLD=#
HIRE_INTERAKT_KEY=#
HIRE_INTERAKT_KEY_OLD=#

#Remarketing AISENSY Setup and Keys
AISENSY_SELF_KEY=#
SELF_CAMPAIGN_NAME='#'
SELF_MEDIA_URL=#
SELF_MEDIA_FILE=#

AISENSY_HIRE_KEY=#
HIRE_CAMPAIGN_NAME='#'
HIRE_MEDIA_URL=#
HIRE_MEDIA_FILE=#

WEBINAR_INTERAKT_KEY = #

PATH_ADMIN_PANEL_IMAGE='http://127.0.0.1:8002/webinar/images/webinarpage/'
